<h1>Welcome to Chirpus Pizza!</h1>

<!-- <div *ngFor="let c of items; index as i" style="border: 1px solid black;">
  <p>Item: {{c.item}}</p>
  <p>Category: {{c.category}}</p>
  <p>Price: {{c.price}}</p>
</div> -->

<div *ngFor="let c of items; index as i" style="border: 1px solid black; padding: 25px; width: 25%; margin-right:auto; margin-left:auto;">
  <table>
    <tr>
      <th>
        Item: 
      </th>
      <th>  |  </th>
      <th>
        Category: 
      </th>
      <th>  |  </th>
      <th>
        Price: 
      </th>
    </tr>
      <tr>
        <td> 
          {{c.item}}
        </td>
        <th>  |  </th>
        <td>
          {{c.category}}
        </td>
        <th>  |  </th>
        <td>
          {{c.price}}
        </td>
      </tr>
  </table>
</div>
